body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    border: 1px solid rgb(111, 46, 155);
    display: block;
    margin: 20px auto;
    background-color: #000022;
    border-radius: 30px;
}

#container {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
}

#parameters {
    position: absolute;
    top: 200px;
    right: 100px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    
    

}

#telemetry {
    position: absolute;
    top: 190px;
    left: 100px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    
    

}


#launchButton{

     padding: 10px 20px;
    background-color: rgb(111, 46, 155);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    
}

input    {
            background-color: rgb(111, 46, 155);
            border: #000022;
            color: aliceblue;
            border-radius: 30px;

        }